body {
  padding: 0;
  margin: 0;
}

p, h1, h2{
  cursor: default;
}

#seccion_resultados,
#seccion_contact{
  font-weight: 600;
  color: #ececec;
  text-shadow: none !important;
}

#seccion_inicio{
  font-weight: 600;
  color: #ececec;
  text-shadow: 3px 3px 6px #5d5d5d;
}

h1 {
  color: #ececec !important;
}

#seccion_contact{
  color: black;
  /*text-shadow: 3px 3px 6px #5d5d5d;*/
}

#nav{
  z-index: 50;
  position: sticky;
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: inline-block;
  position: fixed;
  width: 100%;
  margin: 0;
  background-color: white;
  box-shadow: 0px 2px 15px #888888;
}

#logo {
    width: 50px;
    height: 50px;
    background-image: url("../img/lupa.png");
    background-size: contain;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.2s ease-in-out; /* Safari */
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#fb_menu{
  width: 20px;
  height: 20px;
  background-image: url("../img/logoFace.png");
  background-size: contain;
  float: right;
  background-repeat: no-repeat;
  background-position: center;
}

#logo:hover{
    transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);

}

#nav_menu {
    list-style-type: none;
    margin: 0;
    margin-right: 50px;
    padding: 0;
    background-color: white;
    position: relative;
    right: 0;
}

#nav *{
  display: inline-block;
}

#nav li a {
    display: block;
    color: grey;
    font-weight: 800;
    opacity: 0.8;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    padding: 14px 30px;
    -webkit-transition: all 0.2s ease-in-out; /* Safari */
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#login_button{
  cursor: default;
}

#nav_menu li a{
  font-size: 0.9em;
}

#nav li a:hover {
    opacity: 1;
    color: #01415f;
    text-shadow: 0px 5px 10px #888888;
    transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
}

#nav_menu{
  float: right;
}

/*li{
  float: left;
  position: absolute;
  right: 30px;
  bottom: 0px;
}*/

#nav_menu .active {
  opacity: 1;
  text-decoration: underline;
}

#nav_menu .active a{
        color: #01415f;
        transform: scale(1.1,1.1);
        text-shadow: 0px 5px 10px #888888;
}

/*----------------SECCION NOSOTROS--------------------------*/

#seccion_nosotros{
  padding: 0;
}

#seccion_nosotros .wrapper1{
  margin: 0;
  width: 100%;
  height: 100%;
}

#seccion_nosotros .wrapper2{
  width: 100%;
  height: 30%;
}

#seccion_nosotros .wrapper2 img{
  margin-right: 50px;
}

#seccion_nosotros .wrapper3{
  height: 100%;
  width: 49%;
  float: left;
}

#seccion_nosotros .wrapper5{
  width: 100%;
  height: 10%;
}

#seccion_nosotros .text{
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
}

#seccion_nosotros .wrapper2:first-child .text{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#seccion_nosotros h1{
  color: #003b5d !important;
  font-size: 2em;
  margin-bottom: 20px;
}

#seccion_nosotros p{
  color: #3283c4;
  font-size: 1em;
}

#separador{
  width: 50px;
}
/*-------------FIN SECCION NOSOTROS-------------------------*/

/*-----------SECCION SERVICIOS------------------------------*/

#seccion_servicios .wrapper{
  margin: 0 auto;
  /*height: 70%;
  font-size: large;*/
}

#seccion_servicios .row1, .row2, .row3, .row4{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 25%;
  padding-left: 5%;
}

#seccion_servicios .row1_item, .details, .row3_item{
  height: 100%;
  width: 27%;
  float: left;
  display: flex;
  align-items: center;
  padding-left: 2%;
  /*padding-left: 1%*/;
}

#seccion_servicios .details{
  align-items: end;
  padding-left: 2%;
}

#details_big{
  width: 55%;
  padding-left: 2%;
}

#seccion_servicios .row1_item, .row3_item{
  margin-bottom: 5px;
}

#seccion_servicios .details{
  margin-bottom: 10px;
}

#row3_item_big{
  width: 55%;
}

#seccion_servicios .row1_item img, .row3_item img{
  height: auto;
  width: 10%;
  float: left;
  margin-top: 2%;
  margin-right: 10px;
}

#row3_item_big img{
  width: 6%;
}

#seccion_servicios .servicios_info{
  width: 70%;
  float: left;
  height: 40%;
}

#seccion_servicios p, h3{
  text-align: left;
}

#seccion_servicios p{
    font-size: 1.1em;
}

#seccion_servicios h3{
  font-size: 1.5em;
  color: #003b5d
}

#seccion_servicios .details p{
  font-size: 0.9em;
  color: black;
}

#seccion_servicios .description{
  color: #3283c4;
}

#services_constraints{
  position: absolute;
  bottom: 0;
  font-size: small;
  float: none;
  width: 100%;
}

#services_constraints p{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 3%;
}

.servicios_info{
  font-size: 0.9em;
}

/*---------FIN SECCION SERVICIOS----------------------------*/


/*---------------SECCIÓN CITAS------------------------------*/
#form_citas_title{
  width: 50%;
  height: 100%;
  float: left;
  /*text-shadow: 3px 3px 6px #5d5d5d;*/
  background-image: url('../img/citas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 20px;
  padding-left: 20px;
}

#logo_calendar{
  transform: rotate(-20deg);
  width: 150px;
  margin-top: 5%;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

#form_citas_title p{
  visibility: hidden;
}

#form_citas_title > p{
  margin-top: 80px;
  font-weight: bold;
  color: #01415f;
}

#form_citas_content{
  font-weight: bold;
  font-size: 15px;
  color: #01415f;
}

#date_form_content{
  /*padding-left: 2%;
  padding-top: 10px;
  padding-bottom: 10px;*/
  width: 45%;
  float: left;
  padding-top: 7%;
  /* border-left: 2px solid rgba(19, 19, 19, 0.13); */
}

#date_form_content select, .btn_date{
  margin-top: 15px !important;
}

#datepicker > div > div{
  background: #01415f;
  color: white;
}

.btn_date{
  background-color: #e3e3e3;
  width: 30%;
  color: #01415f;
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  /*border: 1px solid #01415f;*/
  transition: all 0.2s linear;
  font-weight: 800;
}

.btn_date:hover{
  background-color: white;
  box-shadow: 1px 1px 20px #222222;
}

.btn_date:active{
  background-color: #e3e3e3;
  box-shadow: none;
}

#citas_content{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;*/
  /*margin: auto;
  width: 90%;
  margin-top: 100px;
  padding: 10px;*/
}

select{
  width: 80%;
  margin: auto;
  height: 30px;
  border-radius: 5px;
  background-color: #01415f;
  color: white;
  border-color: white;
  transition: box-shadow 0.2s linear;
}

select:hover{
  box-shadow: 2px 2px 10px #111111;
}

#date_form *{
  /*isplay: block;*/
  margin: auto;
}

#citas_content p{
  margin-bottom: 3%;
}

#citas_content button{
  display: block;
  margin: auto;
}

#collect{
  display: none;
  opacity: 0;
  transition: opacity 1s linear;
}

#cita{
  display: none;
  opacity: 0;
  transition: opacity 1s linear;
}

#puncion{
  display: none;
  opacity: 0;
  transition: opacity 1s linear;
}

#puncion_clinica{
  display: none;
  opacity: 0;
  transition: opacity 1s linear;
}

#date_constraint{
  color: white;
  font-size: 0.9em;
  margin-top: 20px;
  width: 70%;
}
/*-----------sección inicio------------------*/
#seccion_inicio{
  text-align: left;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  background-image: url("../img/inicio_fondo.png");
}

#seccion1_logo{
  width: 35%;
  position: relative;
  left: 10%;
  -webkit-filter: drop-shadow(0 5px 3px #191919);
  filter: drop-shadow(0 5px 3px #191919);
}

.slide img{
  position: relative;
  left: 400px;
  bottom: 40px;
}

/*.section:first-child #slide1{
  background-image: url("../img/slider5.jpg");
}

.section:first-child #slide2{
  background-image: url("../img/slider4.jpg");
}

.section:first-child #slide3{
  background-image: url("../img/slider3.jpg");
}

.section:first-child #slide4{
  background-image: url("../img/slider6.jpg");
}*/

#seccion_inicio .slide *{
  margin-right: 5%;
  margin-left: 5%;
}

#seccion_inicio .popup{
  visibility: hidden;
}

/*------------SECCIÓN CONTACTO-------------------*/
#contact_info{
  visibility: hidden;
}

#seccion_contact #contact_wrapper{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
}

#seccion_contact #contact_info{
  width: 40%;
  height: 300px;
  float: left;
}

#seccion_contact #contact_map{
  width: 40%;
  float: left;
  margin-right: 5%;
}

#seccion_contact h1{
  font-size: 1em;
  color:  #01415f !important;
  font-weight: bold;
  margin-bottom: 5%;
}

#seccion_contact p{
  text-shadow: none;
  font-size: 0.9em;
  color: #01415f;
  text-align: center;
  margin-bottom: 5%;
}

#seccion_contact a img{
  width: 7%;
  margin-right: 2%;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#fb, #twitter, #insta, #contact_map{
  visibility: hidden;
}

#fb:hover{
  /*-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);*/
  transform: scale(1.3);
}

#twitter:hover{
  /*-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);*/
  transform: scale(1.3);
}

#insta:hover{
  /*-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);*/
  transform: scale(1.3);
}

#map{
  width: 100%;
  height: 300px;
  background-color: gray;
  border: 7px solid white;
  border-radius: 5px;
  box-shadow: 0px 2px 15px #888888;
}

#contact_constraint{
  float: inherit;
  width: 80%;
  font-size: 0.8em !important;
  margin-top: 25%;
  color: #5e5e5e !important;
}

/*---------------SECCIÖN RESULTADOS-----------------------------*/

#results_container{
  width: 100%;
  height: 100%;
}

#no_results{
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  transform: translate(-50%, -50%);
}

#results_constraints{
  position: absolute;
  bottom: 0;
  font-size: 0.9em;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

#no_results *{
  float: left;
  color: black;
  font-weight: 200;
  text-shadow: none;
}

#download_results{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  transform: translate(-50%, -50%);
  width: auto !important;
  /*background-color: #e3e3e3;
  padding: 10px 15px;
  padding-bottom: 20px;
  display: block;
  border-radius: 5px;
  border: 1px solid #01415f;
  transition: all 0.2s linear;
  font-weight: 800;
  cursor: pointer;*/
}

#download_results p{
  font-size: 1em;
}

#download_results img{
  height: 45%;
}

#no_results p{
  position: relative;
  top: 10%;
  margin-right: 10px;
}

.no-select{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently
                           supported by Chrome and Opera */
}

#no_results img{
  height: 100%;
}

/*--------------PROGRESS DIALOG-------------------------------*/
.login_progress{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	display: none;
}

.login_progress_content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.login_progress_content img{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.login_progress_content p{
  all: unset;
}
