<div id="citas_content">
  <div id="form_citas_title">
      <p>¡TU PASIÓN, NUESTRA DEDICACIÓN!</p>
      <div id="form_citas_content">
        <p>Agenda el día y el tipo de servicio de recolección y/o estudio que necesitas.
        ¡Facil y práctico!</p>
        <p>Solicitalo aqui.</p>
      </div>
      <img id="logo_calendar" src="../img/calendario_logo.png" alt="">
  </div>
  <div id="date_form_content">
    <form id="date_form" class="" action="index.html" method="post">
      <!--<input type="date" name="fecha" value="">-->
      <p>
        Fecha de la cita:
      </p>
      <div id="datepicker"></div>
      <!--<label for="select_cita">Tipo de Cita: </label>-->
      <select id="select_cita" class="" name="Tipo de cita">
        <option value="" disabled selected>Tipo de cita</option>
        <option value="collect">Recolección de muestra</option>
        <option value="date">Cita para toma de muestra en clínica/hospital</option>
        <option value="puncion">Punción guiada c/ultrasonido</option>
      </select>
      <div id="collect">
        <select id="select_collect" class="" name="collect">
          <option value="" disabled selected>Tipo de recolección</option>
          <option value="cito">Citopatología</option>
          <option value="bio">Biopsía</option>
          <option value="necro">Necropsia</option>
          <option value="other">Otro</option>
        </select>
      </div>
      <div id="cita">
        <select id="select_tipo_cita" class="" name="cita">
          <option value="" disabled selected>Tipo de muestra</option>
          <option value="uno">Aspiración con aguja fina, 1 sitio anatómico.</option>
          <option value="dos">Aspiración con aguja fina, 2 sitios o más.</option>
          <option value="other">Otro</option>
        </select>
      </div>
      <div id="puncion">
        <select id="select_puncion" class="" name="puncion">
          <option value="disabled" disabled selected>Tipo de punción</option>
          <option value="clinica">Visita a la clínica/ hospital del M.V.Z. (solicitante):</option>
          <option value="laboratorio">Visita al laboratorio de Histovet Yucatán</option>
        </select>
      </div>
      <div id="puncion_clinica">
        <select id="select_puncion_clinica" class="" name="puncion_clinica">
          <option value="" disabled selected>Punción en la clínica</option>
          <option value="sedacion">Con sedación/anestesia a cargo del M.V.Z</option>
          <option value="equipo">Con equipo de US a cargo del patólogo.</option>
        </select>
      </div>
      <!--<input type="submit" name="date" value="Obtener Cita">-->
      <a class="btn_date" href="#">Obtener Cita</a>
      <p id="date_constraint">El servicio de CITAS a través del portal, no es una confirmación por lo que en breve nuestros
      especialistas se comunicarán a la brevedad para coordinarse.</p>
    </form>
  </div>
</div>
