<script type="text/javascript">
function initMap(){
  var histovet = {lat: 20.987684, lng: -89.593897};
var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 16,
  center: histovet
});
var marker = new google.maps.Marker({
  position: histovet,
  icon: './img/marker.png',
  map: map
});
}
</script>
<div id="contact_wrapper">
  <div id="contact_map">
    <div id="map"></div>
  </div>
  <div id="contact_info">
    <h1>RECEPCIÓN DE MUESTRAS EN NUESTRAS INSTALACIONES EN MÉRIDA Y DESDE OTROS ESTADOS</h1>
    <p>CALLE 20 NO. 412 POR 33 Y 35 COL. NUEVA ALEMÁN C.P. 97156 MÉRIDA, YUCATÁN, MÉXICO.</p>
    <p>histovetyucatan@gmail.com / Cel: 9991.184671</p>
    <p>Recolección personalizada en la zona metropolitana y municipios aledaños será previo aviso
    con un día de anticipación o antes de las 10:00 de la mañana del mismo día.</p>
      <a id="ainstagram" href="https://www.instagram.com/?hl=es" target="_blank"><img id="twitter" src="./img/insta_logo.png" alt="HistoVet Facebook"></a>
      <a id="a_fb" href="https://www.facebook.com/histovetyuc/" target="_blank"><img id="fb" src="./img/face_logo2.png" alt="HistoVet Facebook"></a>
      <a id="awhats" href="https://www.instagram.com/?hl=es" target="_blank"><img id="insta" src="./img/whats_logo.png" alt="HistoVet Facebook"></a>
  </div>
  <p id="contact_constraint">Para envíos de otros Estados, favor de ponerse en contacto con nosotros Para indicaciones de envío y pago de resultados.
En estos casos se recomienda el uso de servicios de mensajería certificada, ya que los servicios de autobús pueden demorar, además de
exponer los paquetes a altas temperaturas o manejo inadecuado, lo que provoca el daño de las muestras</p>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwc0EQdycxt-zcfuYqdG7GERW65lWwNZc&callback=initMap"></script>
</div>
