<img id="seccion1_logo" src="../img/logo_histovet.png" alt="">
<div class="slide" id="slide1">
  <!--<h1 class="fadeIn">¿Quienes somos?</h1>
  <p class="fadeIn">En HistoVet Yucatán nos especializamos en el área de la anatomía patológica en el campo del diagnóstico
  en medicina veterinaria, el cual ponemos a disposición personal especializado y tecnología para efectuar
  todo tipo de estudios en Citopatología, Histopatología, Patología Quirúrgica y estudios Post Mortem en
  pequeñas y grandes especies, mamiferos pequeños, aves, cerdos, animales silvestres entre otros.</p>-->
  <img class="fadeIn" src="../img/slider_1.png" alt="" />
</div>
<div class="slide" id="slide2">
    <div class="popup" id="msg1">
      <!--<h1>Misión</h1>
      <p>Ofrecer un servicio de calidad que otorgue atención personalizada, resultados precisos, oportunos y
      eficaces, que contribuyan al cuidado, prevención de enfermedades o tratamineto de éstas, de los pacientes
      y médicos que requieran diagnóstico especializado.</p>-->
      <img src="../img/slider_2.png" alt="">
    </div>
</div>
<div class="slide" id="slide3">
  <!--<img class="popup" id="eslogan_img" src="img/eslogan.png" alt="">-->
  <div class="popup" id="msg2">
    <!--<h1>Cobertura</h1>
    <p>En Histovet Yucatán tenemos la capacidad de diagnosticar no solo a clínicas veterinarias, sino también
    a particulares, empresas con producción animal y la inocuidad en materia de prevención, granjas,
    criaderos, etc uicadas en la ciudad de Mérida así como en el interior del Estado a nivel Sureste.</p>-->
    <img src="../img/slider_3.png" alt="">
  </div>
</div>
<div class="slide" id="slide4">
  <div class="popup" id="msg3">
    <!--<h1>Técnicas Auxiliares Histólogicas</h1>
    <p><b>Histoquímia Convencional: </b> Útil para la detección de estructuras celulares especificas
     (Por ejemplo la granulación citoplasmática de las celulas mastociticas) o agentes infecciosos
    (microbacterias, hongos, etc).</p>-->
    <img src="../img/slider_4.png" alt="">
  </div>
  <div class="slide" id="slide5">
    <div class="popup" id="msg4">
      <img src="../img/slider_5.png" alt="">
    </div>
  </div>
</div>
