<div class="wrapper1">
  <div class="wrapper2">
    <div class="text">
      <h1>¿Quienes sómos?</h1>
      <p>En Histovet Yucatán nos especializamos en el área de la anatomía patológica en el campo del diagnóstico
      en medicina veterinaría, el cual ponemos a su disposición personal especializado y tecnología para
      efectuar todo tipo de estudios de Citopatología, Histopatología, Patología Quirúrgica y estudios Post
      Mortem en pequeñas y grandes especies, mamiferos pequeños, aves, cerdos, animales silvestres entre otros.</p>
    </div>
  </div>
  <div class="wrapper2">
    <div class="wrapper3">
      <div class="text">
        <h1>Misión</h1>
        <p>Ofrecer un servicio de calidad que otorgue atención especializada, resultados precisos, oportunos y
        eficaces, que contribuyen al cuidado, prevención de enfermedades o tratamiento de éstas, de los pacientes
        y médicos que requieran diagnóstico especializado.</p>
      </div>
    </div>
    <div class="wrapper3">
      <div class="text">
        <h1>Cobertura</h1>
        <p>En Histovet Yucatán tenemos la capacidad de diagnosticar no solo a clínicas veterinarias, sino también
        a empresas de producción animal y la inocuidad en materia de prevención, granjas, criaderos,
        criaderos, etc ubicadas en la ciudad de Mérida así como en el interior del Estado a nivel Sureste.</p>
      </div>
    </div>
  </div>
  <div class="wrapper5">
    <img id="separador" src="./img/gray_buttons.png" alt="">
  </div>
  <div id="partners" class="wrapper2">
    <img src="./img/logo_smpv.png" alt="" width="140px" height="100px">
    <img src="./img/ametep.png" alt="" width="170px" height="60px">
    <img src="./img/colegas.png" alt="" width="170px" height="70px">
    <img src="./img/amoncovet.png" alt="" width="170px" height="70px">
  </div>
</div>
