<div class="wrapper">
  <div class="row1">
    <div class="row1_item">
        <img src="./img/lupa.png" alt="">
        <div class="servicios_info">
          <h3>Diagnóstico Citopatológico</h3>
          <p class="description">Impronta corneal, vaginal exfoliativa, ótico, raspado, en 1 o 2 sitios del mismo paciente.</p>
        </div>
    </div>
    <div class="row1_item">
        <img src="./img/lupa.png" alt="">
        <div class="servicios_info">
          <h3>Diagnóstico Histopatológico</h3>
          <p class="description">Diagnostico desde 1 órgano y/o pieza hasta 7 piezas ó más.</p>
        </div>
    </div>
    <div class="row1_item">
        <img src="./img/lupa.png" alt="">
        <div class="servicios_info">
          <h3>Estudio Post Mortem</h3>
          <p class="description">Diagnóstico en mamíferos pequeños*, grandes especies**, aves, especies silvestres, peces, perros y gatos desde 0 grs. hasta más de 40 kg.</p>
        </div>
    </div>
  </div>
  <div class="row2">
    <div class="details">
      <p><b>Más detalles &#8594;</b> Máximo 3 a 4 laminillas por sitio fijadas al aire o el líquido obtenido en el muestreo, con identificación del nombre de la mascota y sitio de obtención de cada muestra. </p>
    </div>
    <div class="details">
      <p><b>Más detalles &#8594;</b> Estudio a través de patología quirúrgica u oncológica de tejidos u órganos fijados con 10 partes de formalina al 10% por una parte de tejido en recipientes de boca ancha bien cerrados e identificados. 4 días de entrega.</p>
    </div>
    <div class="details">
      <p><b>Más detalles &#8594;</b> Redimir el cadaver dentro las primeras 12 hrs. posteriores al deceso. Debidamente refrigerado sin congelar y colocado en bolsa de plástico sellada e identificada. *Conejos, ratas, ratones. **Equinos, bovinos, cerdos. ***No incluyen urna. ****Recuperación de cenizas en perros y gatos. 6 días de entrega.</p>
    </div>
  </div>
  <div class="row3">
    <div id="row3_item_big" class="row3_item">
      <img src="./img/lupa.png" alt="">
      <div class="servicios_info">
        <h3>Diagnóstico Inmunohistoquímico</h3></h3>
        <p class="description">Diagnósticos precisos en pruebas parasitarias, virus respiratorios y virus digestivos en perros, porcinos, bovinos, neoplasias, entre otras.</p>
      </div>
    </div>
    <div class="row3_item">
      <img src="./img/lupa.png" alt="">
      <div class="servicios_info">
        <h3>Servicios Complementarios</h3>
        <p class="description">Contamos con diferentes servicios, desde la venta de formol, tinciones especiales, urnas hasta reimpresión de resultados avalados.</p>
      </div>
    </div>
  </div>
  <div class="row4">
    <div id="details_big" class="details">
        <p><b>Más detalles &#8594;</b> Parasitarias: neosporosis, toxoplasmosis, entamoeba histiolytica. Neoplasias: citoqueratina, CK AE1/AE3, E-cadherina, receptor de estrógenos, C-erb-2, antígeno membrana epitelial, S100, p53, proteína 6, Anti lgG/C3c canino, Enolasa neurona especifica, proteína ácida glial fibrilar, neurofilamento, vimentina, mioglobina, demina, actina musculo liso, CD31, factor VIII, calponina. Virus Respitarios en Perros: moquillo, adenovirus, influenza. V. Respitarios en Porinos: síndrome respiratorio y reproductor,circovirus tipo II, influenza. V. Respitarios en Bovinos: rinotraqueítis infecciosa, parainfluenza 3. V. Digestivos de Perros: parnovirus. En Bovinos: coronavirus, rotavirus, diarrea viral. En Cerdos: coronavirus. 12 días de entrega.</p>
    </div>
    <div class="details">
      <p><b>Más detalles &#8594;</b> Urnas, formol al 10% (1 listro), reimpresión de resultados. 1 día de entrega. <br> Tinciones especiales (histoquímica). 3 días de entrega.</p>
    </div>
  </div>
</div>
<div id="services_constraints">
  <p>Los días descritos de entrega de resultados son aproximados y días hábiles. El éxito de estos estudios depende del correcto
proceso de fijación. Aplican restricciones. Consulta precios, términos y condiciones. Cualquier duda según el caso, estamos a sus
órdenes para orientarle.</p>
</div>
